<h1>Signup</h1>
<%- include ('../partials/messages') %>
    <form action="/auth/signup" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="name" name="name" placeholder="Enter Name"
                value="<%= typeof name != 'undefined' ? name : '' %>" />

        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Enter Email"
                value="<%= typeof email != 'undefined' ? email : '' %>" />
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter username"
                value="<%= typeof username != 'undefined' ? username : '' %>" />

        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Create Password"
                value="<%= typeof password != 'undefined' ? password : '' %>" />
        </div>
        <div>
            <label for="password2">Confirm Password</label>
            <input type="password" name="password2" placeholder="Confirm Password"
                value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
            Signup
        </button>
    </form>
    <p>Have An Account? <a href="/auth/login">Login</a></p>