<h1>Username: <%= user.username %> </h1>
<p>
    <strong>Name: </strong><%= user.name %> <br>
    <strong>Email: </strong><%= user.email %> 
</p>

<% if(authUser.username === user.username) { %> 
    <div>
        <h2>Edit Profile</h2>
        <form action="/mdb/profile/<%= authUser.username %>" method="post">
            <label for="name">Name</label>
            <input required type="text" value="<%= authUser.name %>" name="name" placeholder="Name">
            
            <label for="email">Email</label>
            <input required type="email" value="<%= authUser.email %>" name="email" placeholder="Email">
            
            <input required type="submit" value="Edit Profile">
        </form>
    </div>
<% } %> 
<br>

<% if(authUser.username === 'admin') { %>
    <form action="/mdb/users/delete" method="post">
        <input type="hidden" name="username" value="<%= user.username %>">
        <input type="submit" value="Delete user">
    </form> 
<% } %> 


<% if(authUser.username === user.username) { %> 
<h2>Search a user</h2>
<form action="/mdb/profile/search" method="post">
    <label for="username">Search a user by username</label>
    <input type="text" name="username" placeholder="Username">
    <input type="submit" value="Search">
</form>
<% } %> 

<br>
<a href="/mdb/">Home</a>