<h1>Title: <%= blog.title %> </h1>
<strong>Content:</strong><br> <p><%= blog.content %> </p><br>
<strong>Published by:</strong>  <%= blog.user.username %> <br>
<strong>Published on:</strong>  <%= blog.createdAt %>

<div>
    <h2>Add a comment</h2>
    <form action="/mdb/movies/comment" method="post">
        <input type="hidden" name="id" value="<%= blog._id %>"><br>
        <textarea name="comment" cols="30" rows="5"></textarea><br>
        <input type="submit" value="Comment">
    </form>
</div>

<h2>Comments: </h2>
<div>
    <ul>
        <% for(let comment of comments) { %>
            <li>
                <p><%= comment.comment %> </p>
                <strong>by:</strong> <%= comment.user.username %> <br>
                <strong>on:</strong> <%= comment.createdAt %> <br>
                <br>
            </li>
        <% } %> 
    </ul>
</div>

<br>
<a href="/mdb/">Home</a>